<%= form_for([@article, @reply]) do |f| %>
  <% if @reply.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@reply.errors.count, "error") %>
      prohibited this reply from being saved:</h2>
    <ul>
    <% @reply.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :reply %><br>
    <%= f.text_area :text, :cols => "44", :rows => "10" %>
  </p>

  <p>
    <%= f.hidden_field :article_id %>
    <%= f.submit %>
  </p>
<% end %>
