<p>
	<h1><%= @article.title %></h1>
</p>

<p>
	Posted by:
	<strong><%= @article.user.email %></strong>
</p>

<p>
	On <%= @article.created_at.strftime("%B %d %Y, %l:%M%P") %>
</p>

<br>
<p>
	<h4><%= @article.text %></h4>
</p>

<br><%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>
<br>
<br>

<hr width="98%" align="center" size="200" noshade>

<h2>Replies</h2>
<% @article.replies.each do |reply| %>
  <ul>
    <li><%= reply.text %></li>
    <li>--<%=  reply.user.email %></li>
  </ul>
<% end %>

<%= render 'formreply' %>

<%# <%= link_to 'Back', articles_path %>

<%# <%= link_to 'New reply', new_article_reply_path(@article, @reply), :class => 'btn btn-info' %>





